<StackLayout>
    <GridLayout class="verify-top" rows="auto" colums="*">
        <Image src="~/images/Icons/logo.png" height="50" marginBottom="50" class="logo"></Image>

    </GridLayout>
    <GridLayout rows="*,auto" colums="auto">
        <GridLayout row="0" rows="auto,auto,auto,auto,auto">
            <Image src="~/images/Icons/unlock.png" height="80" row="0"></Image>
            <Label text="Reset my password" row="1" marginBottom="30" class="text-center verify-title"></Label>
            <StackLayout row="2" class="verify-description">
                <Label text="Type your email bellow and click RESET" class="text-center"></Label>
                <Label text="PASSWORD button to receive the details." class="text-center"></Label>
            </StackLayout>
            <StackLayout row="3" width="100%" marginTop="40" >
                <AbsoluteLayout>
                    <TextField zIndex="99" (focus)="animatedEmail()" class="-border -rounded-sm bd-color" paddingLeft="20" width="90%" ></TextField>
                    <Label #email zIndex="1" backgroundColor="white" top="15" left="20" marginLeft="15" text="Enter your email address" class="txt-blue pd-x"></Label>
                </AbsoluteLayout>
            </StackLayout>
            <StackLayout row="4" class="text-center" marginTop="20">
                <Label text="By tapping 'RESET PASSWORD' you agree to" class="text-center"></Label>
                <Label class="text-center">
                    <FormattedString>
                        <Span class="bold" text="Terms of services"></Span>
                        <Span text=" and "></Span>
                        <Span text="Privacy Policy." class="bold"></Span>
                    </FormattedString>
                </Label>
            </StackLayout>
        </GridLayout>
        <GridLayout row="1" rows="auto" marginBottom="50">
            <Button row="0" text="resend password" class="btn -rounded-sm -primary"></Button>
        </GridLayout>
    </GridLayout>


</StackLayout>
