<StackLayout #all (focus)="animatedAll()">
    <GridLayout class="forgot-top" rows="auto" colums="*">
        <Image src="~/images/Icons/logo.png" height="50" marginBottom="50" class="logo"></Image>
    </GridLayout>
    <GridLayout rows="auto,auto" colums="auto">
        <GridLayout row="0" rows="auto,auto,auto, auto">
            <Label text="Forgot your password" row="1" class="text-center verify-title"></Label>
            <StackLayout row="2" class="verify-description">
                <Label text="Just enter the email you registered width" class="text-center"></Label>
                <Label text="and we'll email the details to reset your" class="text-center"></Label>
                <Label text="password." class="text-center"></Label>
            </StackLayout>
            <StackLayout row="3" width="100%" marginTop="40" >
                <AbsoluteLayout>
                    <TextField zIndex="99" (focus)="animatedEmail()" class="-border -rounded-sm bd-color" paddingLeft="20" width="90%" ></TextField>
                    <Label #email zIndex="1" backgroundColor="white" top="15" left="20" marginLeft="15" text="Enter your email address" class="txt-blue pd-x"></Label>
                </AbsoluteLayout>
            </StackLayout>
        </GridLayout>
        <GridLayout row="1" rows="auto,auto" marginBottom="20" marginTop="50">
            <Button row="0" text="reset password" class="btn -rounded-sm -primary" (tap)="checkEmail()"></Button>
            <GridLayout marginTop="30" class="center" row="1" rows="auto" columns="auto,auto" marginBottom="20">
                <Label col="0" text="Already have an account? " class="text-center txt-blue"></Label>
                <Label col="1" text="Sign in" (tap)="signin()" class="bolds text-center txt-blue"></Label>
            </GridLayout>
        </GridLayout>
    </GridLayout>
</StackLayout>
