<StackLayout>
    <GridLayout class="verify-top" rows="auto" colums="*">
        <Image src="~/images/Icons/logo.png" height="50" marginBottom="50" class="logo"></Image>

    </GridLayout>
    <GridLayout rows="*,auto" colums="auto">
        <GridLayout row="0" rows="auto,auto,auto">
            <Image src="~/images/Icons/Mail.png" height="80" row="0"></Image>
            <Label text="Please check your email" row="1" class="text-center verify-title"></Label>
            <StackLayout row="2" class="verify-description">
                <Label text="We've sent the email to" class="text-center"></Label>
                <Label text="123japan@email.com. Please click the" class="text-center"></Label>
                <Label class="text-center" text="link in the email to reset your password."></Label>
                <Label class="text-center" text="Remember to check your spam folder"></Label>
                <Label class="text-center" text="as well."></Label>
            </StackLayout>
        </GridLayout>
        </GridLayout>
</StackLayout>
