<StackLayout>
    <GridLayout class="forgot-top" rows="auto" colums="*">
        <Image src="~/images/Icons/logo.png" height="50" marginBottom="50" class="logo"></Image>
    </GridLayout>
    <GridLayout rows="auto,auto" colums="auto">
        <GridLayout row="0" rows="auto,auto,auto,auto,auto">
            <Image src="~/images/Icons/Group.png" height="80" row="0"></Image>
            <Label text="Set a new password" row="1" class="text-center verify-title"></Label>
            <StackLayout row="2" class="verify-description">
                <Label text="You should create a strong password that is" class="text-center"></Label>
                <Label text="at leaset 9 alphanumberic characters, with" class="text-center"></Label>
                <Label text="uppercase and lowercase letters, and a" class="text-center"></Label>
                <Label text="special character." class="text-center"></Label>
            </StackLayout>
            <StackLayout row="3" width="100%" marginTop="40" >
                <AbsoluteLayout>
                    <TextField zIndex="99" (focus)="animatedPass()" class="-border -rounded-sm bd-color" paddingLeft="20" width="90%" secure="true"></TextField>
                    <Label #password zIndex="1" backgroundColor="white" top="15" left="20" marginLeft="15" text="Enter password" class="txt-blue pd-x"></Label>
                </AbsoluteLayout>
            </StackLayout>
            <StackLayout row="4" width="100%" marginTop="10" >
                <AbsoluteLayout>
                    <TextField zIndex="99" (focus)="animatedPassConfig()" class="-border -rounded-sm bd-color" paddingLeft="20" width="90%" secure="true"></TextField>
                    <Label #passwordConfig zIndex="1" backgroundColor="white" top="15" left="20" marginLeft="15" text="Re-enter password" class="txt-blue pd-x"></Label>
                </AbsoluteLayout>
            </StackLayout>
        </GridLayout>
        <GridLayout row="1" rows="auto,auto" marginBottom="20" marginTop="20">
            <Button row="0" text="submit" class="btn -rounded-sm -primary" (tap)="login()"></Button>
        </GridLayout>
    </GridLayout>
</StackLayout>
